<!--banner-->
<div class="jumbotron text-center">
    <div class="container">
        <a href="#" class="lang-logo">
            <img src="images/lang-logo.png">
        </a>
        <h1>Jeopardize Contest</h1>
        <p>To develop your own code, learn the fundamentals of Node.JS.</p>
    </div>
</div>
<!--/banner-->